html.darktheme {
  background-color: #212121;
  color: #f2f2f2;
}

.list {
  display: flex;
  flex-direction: column;
}

.watchlist-item > h3 {
  margin-bottom: 5px;
}

.item-number {
  margin-top: 5px;
  margin-bottom: 5px;
}

.number-container {
  display: inline;
}

.number-container label {
  margin-left: 12px;
  margin-right: 12px;
}

.number-label {
  font-weight: bold;
}
